.nav {
  padding-left: 0;
  list-style: none;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 20px;
}
.navs2 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-inline-start: 40px;

}
ul li {
  display: inline-block;
  padding: 0.6rem;
}

ul li a {
  text-decoration: none;
  color: black;
}
ul li a:hover {
  text-decoration: none;
  color: #ffffff;
  transition: 0.7s;
}
@media screen and (max-width: 625px) {
  .nav{
      display: flex;
      flex-direction: column;
      text-align: center;
  }

}

.text-home {
  margin-top: 15rem;
  margin-left: 27rem;
}

.content-text {
  margin-top: 15rem;
  margin-left: 10rem;
  text-shadow: 3px -3px 0px #00ffb3;
}

.img-1 {
  margin-left: 53rem;
  position: absolute;
}

.img-detail {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
  width: 60rem;
  border-radius: 10px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(112, 112, 112);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.error {
  margin-top: 20rem;
  margin-left: 38rem;
}

.judul {
  text-shadow: 3px -3px 0px #00ffb3;
}