body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1.42857143;
  background: rgb(238,238,238);
  background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(172,158,168,1) 54%, rgba(162,177,180,1) 86%);
}